.box{
    width: 350px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(195, 227, 255);
    border-radius: 15px;
    text-align: center;
    margin: 30px auto;
    padding-bottom: 10px;
}
input{
    font-size: large;
    width: 100px;
    height: 20px;
}
button{
    border: none;
    height: 20px;
    background-color: rgb(20, 92, 140);
    color: #ffffff;
}
.contain{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    font-size: large;
    list-style: none;
    padding: 5px;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    margin: 10px auto;
}
